<div class="container">
  <br>
  <br>
  <div class="input-group">
    <form class="form-inline d-flex form-sm">
      <input type="text" class="form-control" name="id" placeholder="Search ID" [(ngModel)]="id">
      <button class="btn btn-secondary" type="button" (click)=verifyID()>Search</button>
    </form>
  </div>
  <br>
  <p *ngIf='invalidId' style="color:red">{{errorMessage}}</p>
  <br>
  <br>
  <table class="table">
    <tr>
      <th>{{items[0]}}</th>
      <td>{{items[1]}}</td>
    </tr>
    <tr>
      <th>{{items[2]}}</th>
      <td>{{items[3]}}</td>
    </tr>
    <tr>
      <th>{{items[4]}}</th>
      <td>{{items[5]}}</td>
    </tr>
    <tr>
      <th>{{items[6]}}</th>
      <td>{{items[7]}}</td>
    </tr>
    <tr>
      <th>{{items[8]}}</th>
      <td>{{items[9]}}</td>
    </tr>
    <tr>
      <th>{{items[10]}}</th>
      <td>{{items[11]}}</td>
    </tr>
  </table>
</div>